[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=false
Terminal=false
Exec=systemctl reboot
Icon=reboot
Name=Reboot
Comment=Reboots the system
Categories=System;